$black: #212121;
$blue: #6284e4;
$dark-grey: #3f4a56;
$green: #52c41a;
$grey: #a9b1b9;
$light-green: #f6ffed;
$light-grey: #f3f3f3;
$red: #cd5c5c;
$white: #fff;

$box-shadow: rgba(85, 107, 218, 0.3);
